* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(rgb(82, 117, 231), rgb(23, 23, 216));
  height: 100dvh;
  width: 100dvw;
}
#app {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}