* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(rgb(82, 117, 231), rgb(23, 23, 216));
  height: 100dvh;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
}
#app {
  background-color: hsl(0, 0%, 15%);
  height: 80%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
}